@import "../../styles/variables.scss";


.review-submitted{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
    .book-another{
        width: fit-content;
        background-color: $primary-color;
        &:hover {
          background-color: $secondary-color;
        }
    }
    .circular-icon{
        color:$primary-color;
        margin-right: 10px;
    }

    @media  screen and (max-width:900px) {
        .review-text{
            font-size: medium;
        }
        .circular-icon{
            font-size: large;
        }
        .book-another{
            font-size: small;
        }
    }
}
