@import "../styles/variables.scss";

.cancel-booking {
  margin-top: 340px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 100%;
  .cancel-booking-box {
    margin: 10px;
    width: fit-content;
    height: fit-content;
    flex-direction: column;
    justify-content: space-around;
    border: solid;
    border-color: rgb(182, 173, 173);
    border-radius: 2px;
    padding: 10px;
    
    .cancel-choices {
      margin-top: 20px;
      display: flex;
      flex-direction: row;
      gap:50px;
      flex-wrap: wrap;
      justify-content: space-between;
      Button {
        background-color: $primary-color;
        &:hover {
          background-color: $secondary-color;
        }
      }
      @media screen and (max-width:900px) {
          gap:10px;
          flex-direction: row;
          align-items: center;
          justify-content: flex-end;
      }
    }
  }
}
